.section-title {
  display: flex;
  justify-content: center;
  padding: 0 20%;
  margin: 0;
  font-family: 'Inter-Bold', 'Arial', sans-serif;
  font-weight: 700;  
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
}
